* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightpink;
}

.box {
    width: 10vw;
    height: 10vh;
    color: white;
    font-family: sans-serif;
    background-color: darkslategray;

    padding: 10px;
    border: 3px solid yellow;
    margin: 20px;

    left: 20px;
    top: 20px;

    /* display: inline-block; */
}

.small {
    width: 70px;
    height: 70px;
    background-color: orange;
    margin: 50px;


}