:root {
    /* --light-black: rgb(30, 30, 30); */
    --light-black: rgb(250, 250, 250);
    /* --dark-white: rgb(230, 230, 230); */
    --dark-white: rgb(40, 40, 40);
    --canvas-orange: #D54B3A;
    --link-teal: rgb(0, 160, 160);
}

* {
    padding: 0;
    margin: 0;
    /* border: 2px dotted teal; */
}

body {
    background-color: var(--light-black);
    color: var(--dark-white);
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
    font-weight: 300;
}

h2 {
    font-size: 2em;
}

header {
    text-align: center;
}

figure {
    display: inline-block;
    width: max-content;
    max-width: 90%;
    padding: 5px;
    border: 2px solid var(--light-black);
    margin: 6px auto;
    vertical-align: top;
    height: max-content;
}

figure:hover {
    border-radius: 10px;
    border: 2px solid var(--dark-white);
}

figcaption {
    text-align: center;
    margin: 4px 0;
    /* width: 270px; */
}

p {
    font-size: 1.15em;
    /* margin: 20px 0; */
    line-height: 1.45em;
}

a {
    color: var(--link-teal);
}

ol > li {
    margin-left: 18px;
    margin-bottom: 10px;
}

ul > li {
    margin-left: 15px;
    margin-bottom: 15px;
}
ul > ul > li {
    margin-left: 35px;
}

figure > a > img {
    object-fit: cover;
    object-position: left;
    width: 160px;
    height: 160px;
}

pre {
    display: inline;
}

#preheader {
    /* position: absolute; */
    /* top: 10px;
    left: 10px; */
    line-height: 1em;
    width: 100%;
    margin: 10px auto;
}


#preheader > a > * {
    display: inline-block;
    font-weight: 300;
    width: max-content;
}

#wrapper {
    width: 93vw;
    max-width: 1200px;
    min-width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid white; */
}

#site-title {
    font-size: 2.5em;
    margin: .25em 0;
}

#site-subtitle {
    font-size: 1.25em;
    margin: .25em 0;
}

#main-menu {
    margin: 10px 0;
    justify-content: center;
}

#return {
    padding: 4px;
    font-size: 10px;
    border: 1px solid var(--light-black);
    width: unset;
    max-width: 10vw;
    border-radius: 5px;
    transition: font-size .25s;
    position: absolute;
    top: 0;
    left: 0;
}

#return:hover {
    color: var(--light-black);
    font-size: 16px;
}

#learn {
    text-decoration: none;
}

#col-lg {
    flex: 3 1 56%;
    min-width: 450px;
}

#col-md {
    flex: 2 1 40%;
    min-width: 300px;
}

#col-sm {
    flex: 1 3 10%;
    min-width: 200px;
}

.assignment {
    display: block;
    border: 2px solid var(--dark-white);
    margin: 5px;
    border-radius: 5px;
    padding: 6px;
    height: max-content;
    /* background-color: orange; */
}

.assignment > * {
    margin: 10px;
}

.assignment > h3 {
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: 800;
}

.assignment > h4 {
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: 800;
    margin-top: 24px;
}

.container {
    /* background-color: purple; */
    width: 100%;
    margin: 1vw auto;
    vertical-align: top;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.menu-item {
    display: inline-block;
    border: 2px solid var(--dark-white);
    padding: 10px 20px;
    margin: 4px;
    text-decoration: none;
    color: var(--dark-white);
    font-size: 1em;
}

.menu-item:last-child {
    border-right: 2px solid var(--dark-white);
}

.menu-item:hover {
    background-color: var(--dark-white);
    color: var(--light-black);
}

.no-link-style {
    text-decoration: none;
    color: unset;
}

.red { color: rgb(180, 0, 0); }
.red-h:hover { background-color: rgb(180, 0, 0); }
.orange { color: rgb(210, 130, 0); }
.orange-h:hover { background-color: rgb(210, 130, 0); }
.yellow { color: rgb(220, 190, 30); }
.yellow-h:hover { background-color: rgb(220, 190, 30); }
.green { color: rgb(0, 160, 0); }
.green-h:hover { background-color: rgb(0, 160, 0); }
.blue { color: rgb(0, 0, 200); }
.blue-h:hover { background-color: rgb(0, 0, 200); }
.purple { color: rgb(130, 0, 160); }
.purple-h:hover { background-color: rgb(130, 0, 160); }
.magenta { color: rgb(240, 0, 240); }
.magenta-h:hover { background-color: rgb(240, 0, 240); }
.canvas-red-h:hover { background-color: #D54B3A;  }
.canvas-red {color: #D54B3A;}
.white { color: var(--dark-white); color: var(--light-black);}
.white-h:hover { background-color: var(--dark-white); color: var(--light-black);}

.canvas-h {
    text-align: center;
    border: 2px solid #D54B3A;
}
.canvas-h:hover { background-color: #D54B3A; color: var(--light-black); }

.highlight {
    color: #D54B3A;
    padding: 0 1px;
}

.compact > li, .compact > ul > li {
    margin-bottom: 5px;
    margin-left: 15px;
}
.compact > ul > li {
    margin-left: 30px;
}

.card-container {
    /* perspective: 800px; */
    width: 150px;
    height: 200px;
    margin: 20px 20px;
    z-index: 0;
    transition: transform .5s, z-index 0s .2s;
}
.card-container:hover {
    transition: transform .5s, z-index 0s 0s;
    z-index: 3;  
}

.card-container:hover .card {
    transform: rotateY(180deg);
    transition: transform .5s;
    /* margin: 30px; */
}

.card-container:hover .black-h {
    transform: rotateY(180deg);
    transition: transform .5s;
    background-color: var(--light-black);
    color: var(--dark-white);
    border: 2px solid var(--dark-white);
}

.card {
    /* border: 8px dotted green; */
    margin: 1px;
    width: 150px;
    height: 200px;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
}

/* .card-link {
    background-color: var(--dark-white);
} */

.card-content {
    position: absolute;
    text-align: center;
    color: var(--light-black);
    background-color: var(--dark-white);
    border: 3px solid var(--light-black);;
    border-radius: 20px;
    overflow: hidden;
    padding: 12px;
    width: 96%;
    height: 100%;
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
}

.card-content > h4 {
    color: var(--canvas-orange);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
}
 
.back {
    transform: rotateY(180deg);
    justify-content: space-around;
}

.back p {
    font-size: .95em;
}

.front > * {margin: 5px auto;}
.front > h4 {font-size: 1.5em; color: var(--light-black);}

.back > div {
    width: 80%;
}

/* .back > div > a {
    display: block;
    font-size: 16px;
    margin: 4px auto;
    border: 2px solid var(--light-black);
    border-radius: 5px;
    text-decoration: none;
}

.back > div > a:hover {
    background-color: black;
} */

.review {
    font-family: serif;
    color: var(--dark-white);
    background-color: var(--light-black);
}

.download {
    display: flex;
    flex-direction: column;
}

.download > a {
    flex-basis: 100%;
}

.guideline {
    font-weight: 600;
    font-size: 1.2em;
}

.sublist > li {
    margin-left: 30px;
    list-style-type: lower-latin
}

.sublist > .sublist > li {
    margin-left: 45px;
    margin-top: -10px;
    list-style-type: lower-roman;
}

.img-lrg {
    width: 100%;
    height: unset;
}

.img-med {
    width: 275px;
    height: unset;
}

.center {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sticky {
    position: unset;
    z-index: unset;
    top: unset;
    padding: unset;
    background-color: unset;
    width: unset;
    text-align: center;
}

.folder {
    font-weight: 800;
    text-decoration: underline;
}

.subcaption {
    font-size: .9em;
    margin: 4px auto;
    line-height: 1.1em;
    width: 99%;
}

@media only screen  
  and (max-width: 700px)   {
    .download {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .download > a {
        flex-basis: 50%;
    }

    .download > .one {
        flex-basis: 100%;
    }
  }