* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    margin: 10px;
  }
  
  .container {
    border: 2px solid black;
    width: 70vw;
    margin: 20px auto;
    padding: 20px;
    height: 80vh;
  }

  #submit-button {

    padding: 20px;
    border: 2px solid purple;
    border-radius: 5px;

  }
  