* {
    padding: 0;
    margin: 0;
    /* border: 2px solid purple; */
}

body {
    font-family: 'EB Garamond', serif;
    color: rgb(5, 5, 5);
    background-color: rgb(253, 253, 253);
}

h1, h2, h3 {
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}


.title {
    margin: 1em auto .5em auto;
    width: max-content;
    font-size: calc(2em + 5vw);
    line-height: 1.2em;
}

.subtitle {
    margin: .25em 0 1em 0;
    font-size: calc(2em + .75vw);
    line-height: 1em;
}

.byline {
    margin: 0 0 1em 0;
    font-size: calc(1em + .5vw);
    line-height: 1em;
}

#wrapper {
    width: 100vw;
    max-width: 900px;
    margin: 20px auto;
    
}

#semester-menu {
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.semester {
    width: 250px;
    height: 250px;
    /* background-image: url("../assets/images/brick.jpg"); */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1.25em + 1vw);
    transition: background-color .5s, color .5s;
}

.semester:hover {
    background-color: black;
    color: white;
}


/* .semester:hover:before{
    content: '';
    position: fixed;
    display: block;
    top: -200px; bottom: 0; left: 0; right: 0;
    z-index: -1;
    background-image: url("https://media.giphy.com/media/lT4VaAfbCv2rbUNfj1/giphy.gif");
    background-size: cover;
    background-color: orange;
} */

#pee {
    display: block;
    position: absolute;
    height: 60px;
}